<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>WalkMate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>accera.world.walkmate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>WalkMate 需要使用蓝牙扫描并发现附近的 Insta360 全景相机设备。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>WalkMate 需要使用蓝牙辅助建立与相机的通信连接。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于在同一网络内连接伴行的开发服务器。</string>
	<key>NSMotionUsageDescription</key>
	<string>用于统计训练中的步行距离。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>训练中用麦克风听你对伙伴说的话，比如「walkmate，说说周围」。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>把你说的话转成文字，让伙伴听懂你的问题。</string>
</dict>
</plist>
